.container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border-color: #263946;
    position: relative;
    border: 1px solid gray;
    width: 900px;
    margin: 0 auto;
    transition: width 0.3s ease-out;

    height: 33em;

    @media only screen and (min-width: 800px) {
        flex-direction: row;
        justify-content: center;
    }
}

.tableContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: #bfc1c8;
    height: 100%;
    width: 100%;

    @media only screen and (min-width: 800px) {
        width: 50%;
    }
}