.container {
    display: flex;
    justify-content: space-around;
    color: #98a6af;
    padding: .3em;
    transition: all .5s;
    background-color: #121723;

    span {
        min-width: 5rem;
    }
}