.container {
    display: flex;
    justify-content: space-between;
    color: #98a6af;
    padding: 10px;
    background-color: #121723;
    border-bottom: 1px solid #29303e;
    border-radius: 3px;
    line-height: 0;
    
    h3 {
        color: #bfc1c8;
    }

    @media only screen and (min-width: 800px) {
        padding: 0.7em;
    }
}