.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.errorContainer h4 {
    width: 100%;
    height: 60px;
}